* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin-bottom: 16px;
}

@font-face {
  font-family: FiraSansExtraLight;
  src: url(../fonts/FiraSans/FiraSans-ExtraLight.ttf);
}
@font-face {
  font-family: FiraSansLight;
  src: url(../fonts/FiraSans/FiraSans-Light.ttf);
}
@font-face {
  font-family: FiraSansRegular;
  src: url(../fonts/FiraSans/FiraSans-Regular.ttf);
}
@font-face {
  font-family: FiraSansMedium;
  src: url(../fonts/FiraSans/FiraSans-Medium.ttf);
}
@font-face {
  font-family: FiraSansCondensedLight;
  src: url(../fonts/FiraSansCondensed/FiraSansCondensed-Light.ttf);
}
@font-face {
  font-family: FiraSansCondensedItalic;
  src: url(../fonts/FiraSansCondensed/FiraSansCondensed-Italic.ttf);
}
@font-face {
  font-family: FiraSansCondensedLight;
  src: url(../fonts/FiraSansCondensed/FiraSansCondensed-Light.ttf);
}
nav {
  background-color: #fff567;
}
nav .nav-wrapper {
  display: flex;
  align-items: center;
  max-width: 75%;
  margin: 0 auto;
  justify-content: space-between;
}
nav .nav-wrapper .logo img {
  width: 100px;
  height: 80px;
}
nav .nav-wrapper .links {
  margin-left: 250px;
}
nav .nav-wrapper .links a {
  text-decoration: none;
  text-transform: lowercase;
  font-family: FiraSansLight;
  color: #000;
  margin-right: 50px;
}
nav .nav-wrapper .links a:hover {
  cursor: pointer;
  text-decoration: underline;
  text-underline-offset: 5px;
  text-decoration-color: #e20f71;
}
nav .nav-wrapper .nav-icons .login {
  margin-right: 25px;
}
nav .nav-wrapper .nav-icons i:hover {
  cursor: pointer;
  color: #e20f71;
}

.shipping-offer {
  height: 25px;
  background-color: #e20f71;
}
.shipping-offer p {
  color: white;
  text-transform: uppercase;
  text-align: center;
  font-family: FiraSansLight;
  padding-top: 2px;
}

.home {
  height: 100%;
  background-image: url(../../images/home-background.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.home .home-wrapper {
  display: flex;
  padding-top: 160px;
}
.home .home-wrapper .square {
  height: 200px;
  max-width: 400px;
  background-color: black;
  opacity: 90%;
  margin: 0 auto;
  padding: 10px;
}
.home .home-wrapper .square h1 {
  color: #fff567;
  font-family: FiraSansExtraLight;
  font-size: 36px;
  letter-spacing: 2px;
}
.home .home-wrapper .home-image {
  position: absolute;
  height: 217px;
  width: 217px;
  border-radius: 50%;
  margin-top: 100px;
  margin-left: 680px;
  background-image: url(../../images/home-oil.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.first {
  height: 50%;
  background: linear-gradient(#ce0828, #df0e65);
  clip-path: polygon(100% 0, 100% 72%, 50% 100%, 0 72%, 0 0);
}
.first .icon-wrapper {
  max-width: 60%;
  margin: 0 auto;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding-top: 100px;
}
.first .icon-wrapper i {
  color: white;
  font-size: 42px;
}
.first .text-wrapper {
  max-width: 48%;
  margin: 0 auto;
  padding-left: 25px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 18px;
}
.first .text-wrapper p {
  color: white;
  font-family: FiraSansLight;
  font-size: 14px;
}
.first .text-wrapper .local {
  margin-left: 24px;
}

.products h2 {
  font-family: FiraSansExtraLight;
  padding: 50px 140px;
  font-size: 36px;
  letter-spacing: 8px;
  text-transform: lowercase;
}
.products .products-container {
  background: linear-gradient(to right, rgba(250, 221, 223, 0.5), rgba(246, 14, 161, 0.2));
  max-width: 75%;
  margin: 0 auto;
  height: 255px;
  border-bottom: 4px solid #e20953;
  margin-bottom: 54px;
}
.products .products-container .category {
  width: 180px;
}
.products .products-container .category h3 {
  font-family: FiraSansExtraLight;
  text-transform: lowercase;
  font-size: 22px;
}
.products .products-container .photo-wrapper {
  max-width: 80%;
  margin-left: 200px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.products .products-container .photo-wrapper .product-photo {
  width: 200px;
  height: 160px;
}
.products .products-container .photo-wrapper .product-photo .description-content {
  margin-top: 162px;
  text-align: center;
}
.products .products-container .photo-wrapper .product-photo .description-content h4 {
  font-family: FiraSansExtraLight;
}
.products .products-container .photo-wrapper .product-photo .description-content p {
  font-family: FiraSansCondensedItalic;
  font-size: 15px;
  color: #35ac41;
  margin-top: -11px;
}
.products .products-container .photo-wrapper .gummy1 {
  background-image: url(../../images/cbd-gummies-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: none;
}
.products .products-container .photo-wrapper .gummy2 {
  background-image: url(../../images/cbd-gummies-2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: none;
}
.products .products-container .photo-wrapper .gummy3 {
  background-image: url(../../images/cbd-gummies-3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: none;
}
.products .products-container .photo-wrapper .oil1 {
  background-image: url(../../images/cbd-oil-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: none;
}
.products .products-container .photo-wrapper .oil2 {
  background-image: url(../../images/cbd-oil-2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: none;
}
.products .products-container .photo-wrapper .oil3 {
  background-image: url(../../images/cbd-oil-3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: none;
}
.products .products-container .photo-wrapper .topical1 {
  background-image: url(../../images/cbd-topical-1.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: none;
}
.products .products-container .photo-wrapper .topical2 {
  background-image: url(../../images/cbd-topical-2.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: none;
}
.products .products-container .photo-wrapper .topical3 {
  background-image: url(../../images/cbd-topical-3.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: none;
}

.second {
  height: 50%;
  background: linear-gradient(to bottom, #35ac41, #ccf4f8);
}
.second h2 {
  font-family: FiraSansExtraLight;
  max-width: 40%;
  text-align: center;
  margin: 0 auto;
  font-size: 32px;
  letter-spacing: 4px;
  text-transform: lowercase;
  color: white;
  padding: 40px;
}
.second .top-sellers-wrapper {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.second .top-sellers-wrapper .top-seller-photo {
  background-color: pink;
  width: 140px;
  height: 180px;
  border-radius: 4%;
}
.second .top-sellers-wrapper .top-seller-photo h4 {
  font-family: FiraSansLight;
  font-size: 16px;
  text-align: center;
  color: white;
  padding-top: 140px;
  text-shadow: -2px 2px #000;
}
.second .top-sellers-wrapper .top-seller1 {
  background-image: url(../../images/top-seller-1.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: none;
}
.second .top-sellers-wrapper .top-seller2 {
  background-image: url(../../images/top-seller-2.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: none;
}
.second .top-sellers-wrapper .top-seller3 {
  background-image: url(../../images/top-seller-3.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: none;
}

.health {
  height: 100%;
}
.health h2 {
  font-family: FiraSansExtraLight;
  padding: 50px 140px;
  font-size: 36px;
  letter-spacing: 8px;
  text-transform: lowercase;
  color: black;
}
.health h3 {
  margin-left: 140px;
  font-family: FiraSansExtraLight;
  font-size: 16px;
}
.health p {
  font-size: 14px;
  margin-top: 50px;
  max-width: 350px;
  margin-left: 140px;
  padding-bottom: 30px;
}

.reviews {
  height: 50%;
}
.reviews h2 {
  font-family: FiraSansExtraLight;
  padding: 15px 140px;
  font-size: 44px;
  letter-spacing: 8px;
  text-transform: lowercase;
}
.reviews p {
  font-family: FiraSansCondensedItalic;
  max-width: 50%;
  margin: 0 auto;
  font-size: 16px;
  line-height: 1.6;
  padding: 20px;
}
.reviews p i {
  font-size: 25px;
  padding: 15px;
  color: #e20953;
}
.reviews .customer-name {
  margin-top: -32px;
  color: #e20953;
}
.reviews .dots {
  max-width: 30%;
  margin-left: 46%;
}

.about {
  height: 100%;
  background-image: url(../../images/about-background.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.about h2 {
  font-family: FiraSansExtraLight;
  padding: 15px 140px;
  font-size: 36px;
  letter-spacing: 8px;
  text-transform: lowercase;
}
.about .about-wrapper {
  display: flex;
  margin: 0 auto;
  align-items: center;
  max-width: 60%;
}
.about .about-wrapper .shop-image {
  background-image: url(../../images/about-image.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 12%;
  width: 373px;
  height: 473px;
}
.about .about-wrapper .shop-description {
  width: 250px;
  height: 473px;
  background-color: #faf9f9;
}
.about .about-wrapper .shop-description h3 {
  padding: 25px;
  font-family: FiraSansCondensedLight;
  font-size: 26px;
}
.about .about-wrapper .shop-description h3:after {
  content: "";
  display: block;
  width: 140px;
  border-bottom: 2px solid #e20f71;
}
.about .about-wrapper .shop-description p {
  padding: 25px;
}

/*# sourceMappingURL=styles.css.map */
