@mixin product-img($productImg: url(../images/cbd-gummies-1.jpg)) {
    background-image: $productImg;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    max-width: 100%;
    height: 100%;
    
}

@mixin product-description() {
    
}