//Product section images
@mixin product-img($productImg: url(../images/cbd-edibles-1.jpg)) {
  background-image: $productImg;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  max-width: 100%;
  height: 100%;
}

//Featured section images
@mixin featured-img($productImg: url(../images/featured-photo-1.jpeg)) {
  background-image: $productImg;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  max-width: 100%;
  height: 100%;
}

//Pet product images
@mixin pet-product-img($productImg: url(../images/pet-cbd-1.jpeg)) {
  background-image: $productImg;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100%;
  margin: 0 auto;
  height: 248px;
}

//Standard site button
@mixin site-button($btnBorderColor: $site-black) {
  color: $btnBorderColor;
  width: 150px;
  height: 40px;
  font-family: FiraSansLight;
  text-transform: uppercase;
  transition: all 0.3s;
  position: relative;
  overflow: hidden;
  z-index: 1;
  border: 1px solid $btnBorderColor;
  margin-top: 20px;
}

//Site button animation
@mixin site-button-sweep-anim(
  $sweepColor: $site-red,
  $btnBgColor: $site-white,
  $fontColor: $site-white
) {
  &:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: $btnBgColor;
    z-index: -2;
  }
  &:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0%;
    height: 100%;
    background-color: lighten($sweepColor, 15%);
    transition: all 0.3s;
    z-index: -1;
  }
  &:hover {
    cursor: pointer;
    color: $fontColor;

    &:before {
      width: 100%;
    }
  }
}

//Add-to-Cart button
@mixin add-to-cart-btn() {
  position: absolute;
  bottom: 0;
  width: 100%;
  border: none;
  height: 30px;
  font-family: FiraSansRegular;
  text-transform: uppercase;
  background: $site-black;
  opacity: 75%;
  color: $site-white;
  transition: 0.2s ease-in, 0.2s ease-out;

  &:hover {
    cursor: pointer;
    opacity: 100%;
    @include linear-gradient-animation();
  }
}

//Weekly Deals photo
@mixin weekly-deals-photo($topSellerImg: url(../images/weekly-deals-1.jpg)) {
  background-image: $topSellerImg;
  background-size: cover;
  background-position: center;
  background-repeat: none;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
    rgba(0, 0, 0, 0.22) 0px 10px 10px;
  transition: 0.3s ease-in, 0.3s ease-out;
}

//Animated linear gradient
@mixin linear-gradient-animation($animTimer: 65s) {
  background-image: linear-gradient(
    -90deg,
    #ce0828,
    #fff453,
    #45dbd6,
    #6e57f3,
    #ce0828
  );
  animation: slidebg $animTimer linear infinite alternate;

  @keyframes slidebg {
    to {
      background-position: 80vw;
    }
  }

  .follow {
    margin-top: 40px;
  }

  .follow a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
  }
}

//Linear gradient
@mixin linear-gradient() {
  background-image: linear-gradient(
    90deg,
    #ce0828,
    #fff567,
    #45dbd6,
    #6e57f3,
    #ce0828
  );
  background-size: 100%;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -moz-background-clip: text;
  -moz-text-fill-color: transparent;
}

//Weekly Deals mask button
@mixin mask-button($bcolor, $url, $x1, $y1, $bor, $col) {
  padding: 20px;
  width: 100%;
  height: 100%;
  font-family: FiraSansExtraCondensed;
  font-size: 22px;
  text-transform: uppercase;
  background: $bcolor;
  -webkit-mask: url($url);
  mask: url($url);
  -webkit-mask-size: $x1 $y1;
  mask-size: $x1 $y1;
  border: $bor;
  color: $col;
}

//Weekly Deals mask animation keyframes
@mixin mask-button-animation() {
  @-webkit-keyframes ani {
    from {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
    }

    to {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
    }
  }

  @keyframes ani {
    from {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
    }

    to {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
    }
  }

  @-webkit-keyframes ani2 {
    from {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
    }

    to {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
    }
  }

  @keyframes ani2 {
    from {
      -webkit-mask-position: 100% 0;
      mask-position: 100% 0;
    }

    to {
      -webkit-mask-position: 0 0;
      mask-position: 0 0;
    }
  }
}
