//brand colors
$site-blue: #45dbd6;
$site-green: #33A033;
$site-pink: #e20f71;
$site-yellow: #fff453;
$site-red: #ce0828;
$site-purple: #6e57f3;
$nav-yellow: #fbf165;
$site-second-yellow: #fffdd1;
$star-yellow: #FDCE1D;
$product-price: #0000006e;
$site-black: #000;
$site-white: #fff;
$transparent-black: #0000009a;
$transparent-white: #ffffffe5;


//site dimensions 
$max-width: 1240px;
$content-width: 1000px;
$medium-width: 980px;
$average-width: 780px;

//linear-gradient 
$linear-gradient:  linear-gradient(135deg, $site-pink, $site-yellow, $site-blue, $site-purple);

$pink-gradient: linear-gradient(180deg, $site-red, $site-pink);

$reverse-pink-gradient: linear-gradient(360deg, $site-red, $site-pink);

$lr-pink-gradient: linear-gradient(90deg, $site-red, $site-pink);

$product-gradient: linear-gradient(0deg, $site-blue, $site-purple, $site-pink);