//brand colors
$site-blue: #55B8BD;
$site-green: #33A033;
$site-pink: #e20f71;
$site-yellow: #FDCE1D;
$site-red: #ce0828;
$site-purple: #6e57f3;
$product-price: #0000006e;
$site-black: #121111;
$site-white: #fff;
$transparent-black: #0000009a;
$transparent-white: #ffffffe5;


//site dimensions 
$max-width: 1240px;
$content-width: 1000px;
$medium-width: 980px;
$average-width: 780px;

//linear-gradient 
$linear-gradient:  linear-gradient(135deg, $site-pink, $site-yellow, $site-blue, $site-purple);

$pink-gradient: linear-gradient(180deg, $site-red, #e91437);

$reverse-pink-gradient: linear-gradient(360deg, #131212, #242323);

$lr-pink-gradient: linear-gradient(90deg, $site-red, $site-pink);

$featured-btn-gradient: linear-gradient(90deg, $site-blue, $site-purple);

$product-gradient: linear-gradient(0deg, $site-blue, $site-purple, $site-pink);

$mask-gradient: radial-gradient(rgba(18, 17, 17, .97) 0%, rgba(18, 17, 17, .88) 80%, rgba(18, 17, 17, .65) 100%);