//brand colors
$site-green: #33A033;
$site-pink: #E20F71;
$site-yellow: #fff567;
$site-second-yellow: #fdf9b8;
$site-red: #CE0828;
$product-price: #0000006e;
$site-black: #000;
$site-white: #fff;

//site dimensions 
$content-width: 1000px;
$medium-width: 980px;