.first {
  min-height: 50%;
  background: $pink-gradient;
  clip-path: polygon(100% 0, 100% 72%, 50% 100%, 0 72%, 0 0);

  .icon-wrapper {
    // background-color: red;
    max-width: 75%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 90px;

    .box {
      text-align: center;
      min-width: 25%;

      i {
        font-size: 35px;
        color: $transparent-white;
      }

      p {
        font-family: FiraSansRegular;
        color: $transparent-white;
        margin-top: 10px;
        font-size: 13px;
      }
    }
  }
}

@media screen and (max-width: 600px) {
  .first {
   

    .icon-wrapper {
      flex-direction: column;
      padding: 30px;

      .box {
        margin-bottom: 40px;
      }
    }
  }
}
