.first {
  height: 50%;
  background: linear-gradient(rgba(206, 8, 40), rgba(223, 14, 101));
  clip-path: polygon(100% 0, 100% 72%, 50% 100%, 0 72%, 0 0);

  .icon-wrapper {
    // background-color: red;
    max-width: 60%;
    margin: 0 auto;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 90px;

    .box {
      // background-color: pink;
      text-align: center;
      min-width: 25%;
      

      i {
        color: $site-white;
        font-size: 45px;
      }

      p {
        color: $site-white;
        font-family: FiraSansRegular;
        margin-top: 10px;
    
      }
    }
 
  }

 
  
}

@media screen and (max-width: 800px) {
  .first {
    height: 70vh;

    .icon-wrapper {
      flex-direction: column;
      padding-top: 30px;

      .box {
        margin-bottom: 40px;
      }
    }
  }
}
