.footer {
  min-height: 50%;
  background: $black-gradient;

  .footer-wrapper {
    max-width: $content-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    // background-color: thistle;

    .links-wrapper {
      width: 450px;
      height: 100%;
      padding-top: 103px;
      display: flex;
      justify-content: space-around;

      .list {
        min-height: 140px;
        max-width: 200px;
        text-align: center;

        h5 {
          font-family: FiraSansRegular;
          font-size: 16px;
          color: $semi-white;
          text-transform: uppercase;
          text-align: left;
        }

        a {
          text-decoration: none;
          text-transform: lowercase;

          p {
            text-align: left;
            font-size: 12px;
            color: $transparent-white;
            font-family: FiraSansLight;
            transition: 0.2s ease-in, 0.2s ease-out;

            &:hover {
              cursor: pointer;
              // text-decoration: underline;
              // text-underline-offset: 6px;
              color: $site-white;
              transition: 0.2s ease-in, 0.2s ease-out;
            }
          }
        }

        i {
          color: $transparent-white;
          font-size: 20px;
          margin-top: 6px;
          transition: 0.2s ease-in, 0.2s ease-out;

          &:hover {
            cursor: pointer;
            @include rainbow-animation(160s);
            transform: scale(1.2);
            background-size: 100%;
            background-repeat: repeat;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            -moz-background-clip: text;
            -moz-text-fill-color: transparent;
          }
        }
      }
    }

    .contact-wrapper {
      max-width: 480px;

      h2 {
        font-family: SmithenScript;
        font-size: 52px;
        color: white;
        margin: 20px 6px;
        white-space: nowrap;
        font-weight: bolder;

        @include rainbow-animation();
        @include background-clip();
      }

      input {
        font-family: FiraSansRegular;
        font-size: 12px;
        color: $site-white;
        background-color: $contact-form-color;
        width: 100%;
        margin-top: -5px;
        margin-bottom: 20px;
        height: 40px;
        padding: 10px;
        border: none;
        border-radius: 0%;
      }

      textarea {
        border: none;
        font-family: FiraSansRegular;
        color: $site-white;
        background-color: $contact-form-color;
        font-size: 12px;
        padding: 10px;
        height: 80px;
        width: 100%;
        margin-top: -5px;
        animation-name: selectedAnim;
        animation-duration: 0.7s;
        border-radius: 0%;
      }

      button {
        display: inline-block;
        width: 80px;
        height: 30px;
        font-family: FiraSansRegular;
        letter-spacing: 0.5px;
        text-transform: lowercase;
        font-size: 12px;
        color: $site-white;
        margin-top: 8px;
        margin-bottom: 10px;
        float: right;
        border-radius: 0%;
        transition: all 0.3s;
        position: relative;
        overflow: hidden;
        z-index: 1;
        border: none;

        @include site-button-sweep-anim($btnBgColor: $contact-form-color);
      }
    }
  }
  .copyright-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      font-family: FiraSansExtraLight;
      color: $copyright-color;
      letter-spacing: .3px;
      font-size: 10px;
      margin-bottom: 0;
      padding-bottom: 15px;
    }
  }
}

@media screen and (max-width: 800px) {
  .footer {
    .footer-wrapper {
      flex-direction: column-reverse;
      padding: 20px 20px;

      .links-wrapper {
        text-align: center;
        height: auto;
        padding: 20px 0px;
        width: 100%;
        justify-content: space-between;
        margin: 0 auto;
        max-width: 420px;

        .list {
          width: 110px;
          padding: 0 15px;

          h5 {
            font-size: 14px;
            text-align: center;
          }

          a {
            p {
              text-align: center;
            }
          }

          i {
            font-size: 18px;
          }
        }
      }
      .contact-wrapper {
        margin: 0 auto;

        h2 {
          width: 240px;
          margin: 20px auto;
          text-align: center;
        }

        input {
          width: 100%;
          margin-top: -5px;
          margin-bottom: 20px;
          height: 40px;
          padding: 10px;
        }

        textarea {
          padding: 10px;
          height: 80px;
          width: 100%;
          margin-top: -5px;
          animation-name: selectedAnim;
          animation-duration: 0.7s;
        }

        button {
          margin-bottom: 30px;
          width: 100%;
          margin-top: 10px;
        }
      }
    }
  }
}
