.footer {
  height: 50%;
  background-color: #d82658;

  .footer-wrapper {
    max-width: 75%;
    // background-color: aqua;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .links-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      ul {
        list-style: none;

        li {
          margin-top: 5px;
          font-family: FiraSansLight;
          margin-right: 100px;
          text-transform: lowercase;
          color: white;
        }
      }

      .list {
        p {
          font-family: FiraSansRegular;
          font-size: 17px;
          color: white;
        }

        ul {
          li {
            i {
              color: white;
              font-size: 25px;
              margin-top: 4px;
            }
          }
        }
      }
    }

    .contact-wrapper {
      h3 {
        font-family: FiraSansRegular;
        font-size: 18px;
        color: white;
        margin-top: 20px;
      }

      input {
        font-family: FiraSansThin;
        width: 500px;
        margin-top: 14px;
        height: 40px;
        padding: 10px;
        border: none;
      }

      textarea {
        border: none;
        font-family: FiraSansThin;
        padding: 10px;
        height: 80px;
        width: 500px;
        margin-top: 14px;
      }

      button {
        width: 60px;
        height: 25px;
        border: none;
        font-family: FiraSansRegular;
        text-transform: lowercase;
        color: #d82658;
        margin-top: 15px;
        margin-left: 79%;

        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .copyright-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    p {
      margin-bottom: 0;
      font-family: FiraSansThin;
      color: white;
      margin: -5px 5px 0px 5px;
    }

    .pink-logo {
      margin-top: -18px;
    }
  }
}
