.reviews {
  min-height: 50%;
  position: relative;
  // background-color: blue;
  margin-bottom: 20px;

  h2 {
    font-family: SmithenScript;
    font-size: 62px;
    letter-spacing: 2px;
    font-weight: 500;
    max-width: $content-width;
    margin: 20px auto 0 auto;
    padding: 0 50px;
    color: $site-black;
  }

  .reviews-wrapper {

    .quote-wrapper {
      max-width: $content-width;
      margin: -30px auto 0px auto;
      // background-color: aquamarine;

      p {
        font-family: FiraSansCondensedLightItalic;
        width: 100%;
        margin: 0 auto;
        font-size: 16px;
        line-height: 1.6;
        padding: 30px;
        position: relative;
        // background-color: rebeccapurple;

        i {
          font-size: 25px;
          padding: 15px;
          color: black;
          position: absolute;
        }

        .left-quote {
          left: 10px;
          top: 40px;
        }

        .right-quote {
          bottom: 50px;
          right: 15px;
        }
      }
    }
    .reviews-star-rating {
      max-width: $medium-width;
      margin: -30px auto 0 auto;
      // background-color: mediumturquoise;
      padding: 10px 60px 15px 30px;

      i {
        color: $site-yellow;
        font-size: 14px;
      }
    }

    .customer-name {
      max-width: $medium-width;
      margin: -2.5px auto 0 auto;
      padding: 0 60px 15px 30px;
      font-family: FiraSansRegular;
      font-size: 14px;
      color: $site-black;
    }
  }

  .dots-wrapper {
    max-width: 150px;
    height: auto;
    margin: 0 auto;
    text-align: center;
    padding-bottom: 25px;

    .dots {
      width: 100%;
    }
  }
}

@media screen and (max-width: 900px) {
  .reviews {
    h2 {
      text-align: center;
    }
  }
}
