.reviews {
  height: 50%;
  position: relative;
  
  .left-tri {
    position: absolute;
  }

  .right-tri {
    position: absolute;
    right: 0;
  }

  h2 {
    font-family: FiraSansExtraLight;
    padding: 15px 140px;
    font-size: 44px;
    letter-spacing: 8px;
    text-transform: lowercase;
  }

  p {
    font-family: FiraSansCondensedItalic;
    max-width: 50%;
    margin: 0 auto;
    font-size: 16px;
    line-height: 1.6;
    padding: 18px;

    
    i {
      font-size: 25px;
      padding: 15px;
      color: $site-pink;
    }
  }

  .rating-wrapper {
    max-width: 47%;
    margin: 0 auto;
    margin-top: -14px;
    i {
      color: #FDCE1D;
    }
  }

  .customer-name {
    margin-top: -8px;
    color: $site-pink;
  }

  .dots {
    max-width: 30%;
    // background-color: red;
    margin-left: 46%;
  }
}
