.second {
    height: 50%;
    background: linear-gradient(
        to bottom,
        rgba(53, 172, 65),
        rgba(204, 244, 248)
      );

    h2 {
        font-family: FiraSansExtraLight;
        padding: 50px 140px;
        font-size: 44px;
        letter-spacing: 8px;
        text-transform: lowercase;
        color: white;
      }

      .top-sellers-wrapper {

          height: 321px;
          display: flex;
          justify-content: space-evenly;
          align-items: center;
       

          .top-seller-photo {
              background-color: pink;
              width: 228px;
              height: 301px;

              h4 {
                  font-family: FiraSansLight;
                  font-size: 22px;
                  text-align: center;
                  color: white;
                  padding-top: 260px;
                  text-shadow: -2px 2px #000;
                  
              }
          }

          .top-seller1 {
            background-image: url(../../images/top-seller-1.jpeg);
            background-size: cover;
            background-position: center;
            background-repeat: none;
          }

          .top-seller2 {
            background-image: url(../../images/top-seller-2.jpeg);
            background-size: cover;
            background-position: center;
            background-repeat: none;
          }

          .top-seller3 {
            background-image: url(../../images/top-seller-3.jpeg);
            background-size: cover;
            background-position: center;
            background-repeat: none;
          }
      }

}

