.top-sellers {
  min-height: 50%;
  // background-color: pink;

  h2 {
    font-family: SmithenScript;
    max-width: 300px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    font-size: 54px;
    letter-spacing: 5px;
    color: $site-green;
    padding: 10px;
    // background-color: magenta;
  }

  .top-sellers-wrapper {
    max-width: $medium-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 250px;
    // background-color: mediumturquoise;

    .top-seller-photo {
      position: relative;
      width: 220px;
      height: 220px;
      overflow: hidden;
      font-family: FiraSansCondensedItalic;
      border-radius: 50%;

      &:hover {
        width: 219.5px;
        height: 219.5px;
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
      }

      button {
        width: 100%;
        height: 100%;
        font-family: FiraSansCondensedItalic;
        font-size: 22px;
        text-transform: uppercase;
        font-weight: bold;

        @include mask-button(
          $transparent-black,
          "https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png",
          3000%,
          100%,
          none,
          $site-white
        );

        cursor: pointer;
        -webkit-animation: ani2 0.9s steps(29) forwards;
        animation: ani2 0.9s steps(29) forwards;

        &:hover {
          -webkit-animation: ani 0.9s steps(29) forwards;
          animation: ani 0.9s steps(29) forwards;

         
        }
      }

      span {
        font-family: FiraSansCondensedItalic;
        font-size: 22px;
        margin: 97px auto;
        text-transform: uppercase;
        position: absolute;
        color: $site-black;
        text-align: center;
        overflow: hidden;
        width: 101%;
        font-weight: 300;
        font-weight: bold;
      }
    }

    @include mask-button-animation();

    // &:hover {
    //   cursor: pointer;
    //   width: 215px;
    //   height: 215px;

    //   h4 {
    //     font-size: 20px;
    //   }
    // }
  }

  .top-seller1 {
    @include top-seller-photo();
  }

  .top-seller2 {
    @include top-seller-photo(url(../images/top-seller-2.jpeg));
  }

  .top-seller3 {
    @include top-seller-photo(url(../images/top-seller-3.jpeg));
  }
}

@media screen and (max-width: 875px) {
  .top-sellers {
    h2 {
      white-space: nowrap;
      margin-top: 0px;
      font-size: 60px;
    }
    .top-sellers-wrapper {
      flex-direction: column;
      height: auto;
      padding-bottom: 40px;

      .top-seller-photo {
        margin: 40px 0px 40px 0px;
        h4 {
        }
      }
    }
  }
}
