.weekly-deals {
  min-height: 50%;
  // background-color: pink;
  background-image: linear-gradient(rgba(255, 255, 255, 0.66), rgba(255, 255, 255, 0.78)),
  url(../images/lemons-img.jpeg);
background-size: cover;
background-position: top;
background-repeat: no-repeat;
position: relative;

  h2 {
    font-family: FiraSansExtraCondensed;
    max-width: 600px;
    height: auto;
    text-align: center;
    margin: 0 auto;
    font-size: 32px;
    letter-spacing: 5px;
    color: $site-black;
    padding: 10px;
    font-weight: lighter;
    // background-color: magenta;
  }

  .weekly-deals-wrapper {
    max-width: $medium-width;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 350px;
    // background-color: mediumturquoise;

    .weekly-deals-photo {
      position: relative;
      width: 220px;
      height: 220px;
      overflow: hidden;
      font-family: FiraSansCondensedItalic;
      border-radius: 50%;


      &:hover {
        box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px,
          rgba(0, 0, 0, 0.23) 0px 6px 6px;
      }

      button {
        @include mask-button(
          $mask-gradient,
          "https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png",
          3000%,
          100%,
          none,
          $site-white
        );

        cursor: pointer;
        -webkit-animation: ani2 0.9s steps(29) forwards;
        animation: ani2 0.9s steps(29) forwards;

        &:hover {
          -webkit-animation: ani 0.9s steps(29) forwards;
          animation: ani 0.9s steps(29) forwards;
        }
      }


      span {
        font-family: FiraSansExtraCondensedMed;
        font-size: 28px;
        margin: 90px auto;
        text-transform: uppercase;
        position: absolute;
        color: $site-white;
        text-align: center;
        overflow: hidden;
        width: 101%;
        font-weight: 300;
        font-weight: bold;
        text-shadow: -2px 2px 5px rgba(0, 0, 0, 0.835);
      }
    }

    @include mask-button-animation();
  }

  .weekly-deals1 {
    @include weekly-deals-photo();
  }

  .weekly-deals2 {
    @include weekly-deals-photo(url(../images/weekly-deals-2.jpg));
  }

  .weekly-deals3 {
    @include weekly-deals-photo(url(../images/weekly-deals-3.jpg));
  }
}

@media screen and (max-width: 875px) {
  .weekly-deals {
    h2 {
      white-space: nowrap;
      margin-top: 0px;
      font-size: 52px;
    }
    .weekly-deals-wrapper {
      flex-direction: column;
      height: auto;
      padding-bottom: 40px;

      .weekly-deals-photo {
        margin: 50px 0px;
        h4 {
        }
      }
    }
  }
}
