.about {
    min-height: 100%;
    background-image: url(../images/about-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    h2 {
        font-family: FiraSansThin;
        margin: 50px 0 50px 134px;
        font-size: 36px;
        letter-spacing: 8px;
        text-transform: lowercase;

    }

    .about-wrapper {
        display: flex;
        margin: 50px auto;
        align-items: center;
        max-width: $medium-width;
        height: auto;
        // background-color: rgb(148, 133, 133);
        padding: 0 20px;

        .shop-image {
            width: 500px;
            height: 340px;
            background-color: aqua;
            img {
                width: 100%;
                
            }
        }
    
        .shop-description {
            width: 405px;
            height: auto;
            // background-color: rgb(250, 249, 249, .85);

            h3 {
                padding: 25px;
                font-family: FiraSansCondensedLightItalic;
                font-size: 25px;
                text-transform: uppercase;
                color: $site-green;
                max-width: 100%;
            }

            h3:after {
                content: "";
                display: block;
                max-width: 217px;
                border-bottom: 2px solid $site-pink;
                margin-top: 6px;
            }

            p {
                font-family: FiraSansLight;
                font-size: 13px;
                padding: 15px;
                max-width: 100%;
            }
        }
    }

}


