.about {
    min-height: 100%;
    background-image: url(../images/about-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    h2 {
        font-family: FiraSansThin;
        margin: 50px 0 50px 134px;
        font-size: 36px;
        letter-spacing: 8px;
        text-transform: lowercase;

    }

    .about-wrapper {
        display: flex;
        margin: 50px auto;
        align-items: center;
        justify-content: space-evenly;
        max-width: 880px;
        height: auto;
        padding: 0 15px;
        background-color: $site-white;
        box-shadow: 0px 2px 10px 2px rgba(0,0,0,.16);
        border-radius: 10px;

        .shop-image {
            width: 500px;
            height: 340px;
            overflow: hidden;
            img {
                width: 100%;
                
            }
        }
    
        .shop-description {
            width: 405px;
            height: auto;
            // background-color: rgb(250, 249, 249, .85);

            h3 {
                padding: 25px;
                font-family: SmithenScript;
                font-size: 42px;
                letter-spacing: 1px;
                color: $site-green;
                max-width: 100%;
            }

            h3:after {
                content: "";
                display: block;
                max-width: 217px;
                border-bottom: 2px solid $site-pink;
                margin-top: 6px;
            }

            p {
                font-family: FiraSansLight;
                font-size: 13px;
                padding: 15px;
                max-width: 100%;
            }
        }
    }

}


@media screen and (max-width: 600px) {
    .about {
        background-image: none;

        h2 {
            margin: 40px auto 30px auto;
            width: 200px;
            text-align: center;
            white-space: nowrap;
        }
        .about-wrapper {
            flex-direction: column;
            margin: 20px;
            .shop-image {
                max-width: 100%;
                height: auto;
                margin-top: 10px;
            }
            .shop-description {
                max-width: 100%;
                height: auto;
            }
        }
     
    }
}

