.about {
    height: 100%;
    background-image: url(../../images/about-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    h2 {
        font-family: FiraSansExtraLight;
        padding: 15px 140px;
        font-size: 36px;
        letter-spacing: 8px;
        text-transform: lowercase;
    }

    .about-wrapper {
        display: flex;
        margin: 0 auto;
        align-items: center;
        max-width: 60%;
        // background-color: red;

        .shop-image {
            background-image: url(../../images/about-image.jpeg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            margin-left: 12%;
            width: 373px;
            height: 473px;
         
        }
    
        .shop-description {
            width: 250px;
            height: 473px;
            background-color: rgb(250, 249, 249);

            h3 {
                padding: 25px;
                font-family: FiraSansCondensedLight;
                font-size: 18px;
            }

            h3:after {
                content: "";
                display: block;
                width: 140px;
                border-bottom: 2px solid $site-pink;
                margin-top: 6px;
            }

            p {
                font-family: FiraSansLight;
                font-size: 13px;
                padding: 25px;
            }
        }
    }

}