.featured {
  min-height: 100%;
  padding: 30px 0 200px 0;
  background-image: url(../images/featured-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

  .featured-container {
    width: 100%;
    max-height: 650px;


    .content-container {
      max-width: $medium-width;
      max-height: 100%;
      text-align: center;
      // background-color: aquamarine;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: 0 auto;
      padding: 0 10px;

      .content-wrapper {
        margin: 0 auto;
        width: 500px;
        height: 100%;
        // background-color: rgb(169, 165, 218);
        padding: 0 20px;

        h2 {
          font-family: SmithenScript;
          font-size: 62px;
          white-space: nowrap;
          line-height: 60px;
          padding: 40px 0;
        }

        .featured-photo {
          max-width: 100%;
          background-color: beige;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;

          img {
            width: 100%;
          }
        }
        .featured-description {
          // background-color: rebeccapurple;

          h4 {
            font-family: FiraSansRegular;
            padding-top: 24px;
          }

          p {
            padding: 0 20px;
            font-family: FiraSansLight;
             min-height: 70px;
             line-height: 30px;
          }

          button {
            @include site-button();
            @include site-button-sweep-anim($sweepColor: $site-pink);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .featured {
    background-image: url(../images/featured-bg.jpg);
    background-size: 100% 50%;
    background-position: center top;
    background-repeat: repeat-y;
    padding: 20px 0;
    margin-bottom: 60px;

    .featured-container {
      max-height: 1400px;

      .content-container {
        flex-direction: column;
        max-width: 500px;

        .content-wrapper {
          width: 100%;
          padding: 10px 5px 30px 5px;

          .featured-photo {
            border-radius: 70% 55% 70% 55%;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
            img {
              border-radius: 70% 55% 70% 55%;
        
            }
          }

          h2 {
            font-size: 66px;
            padding: 35px 0;
          }
          
          .featured-description {

            h4 {
              white-space: normal;
              padding-top: 14px;
              font-size: 26px;
            }

            p {
              min-height: 40px;
            }

            button {
              width: 200px;
            }
          }
        }
      }
    }
  }
}
