.featured {
  min-height: 100%;
  // background-image: url(../images/featured-bg.jpg);
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat;
  // clip-path: polygon(100% 0, 100% 80%, 50% 100%, 0 80%, 0 0);
  // background: $weekly-deals-bg;
  padding-top: 1px;
  padding-bottom: 30px;

  .featured-container {
    width: 100%;
    max-height: 650px;
    // background-color: pink;
    margin: 60px 0px;

    .content-container {
      max-width: $max-width;
      max-height: 100%;
      text-align: center;
      // background-color: aquamarine;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      margin: 0 auto;
      padding: 0 10px;

      .content-wrapper {
        margin: 0 auto;
        width: 500px;
        height: 100%;
        // background-color: rgb(169, 165, 218);
        padding: 0 20px;

        h2 {
          font-family: SmithenScript;
          font-size: 62px;
          white-space: nowrap;
          line-height: 60px;
          padding-bottom: 8px;
        }

        .featured-photo {
          max-width: 100%;
          background-color: beige;
          box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;

          img {
            width: 100%;
          }
        }
        .featured-description {
          // background-color: rebeccapurple;

          h4 {
            font-family: FiraSansRegular;
            padding-top: 24px;
          }

          p {
            padding: 0 20px;
            font-family: FiraSansLight;
             min-height: 90px;
          }

          button {
            @include site-button();
            @include site-button-sweep-anim($sweepColor: $site-pink);
          }
        }
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .featured {
    padding: 0;
 
    .featured-container {
      max-height: 1400px;

      .content-container {
        flex-direction: column;
        max-width: 500px;

        .content-wrapper {
          width: 100%;
          padding: 10px 5px 50px 5px;

          h2 {
            font-size: 66px;
          }
          
          .featured-description {

            h4 {
              white-space: normal;
              padding-top: 12px;
              font-size: 26px;
            }

            p {
              min-height: 50px;
            }

            button {
              width: 200px;
            }
          }
        }
      }
    }
  }
}
