.health {
  // background-color: pink;
  min-height: 100%;


  h2 {
    font-family: FiraSansThin;
    margin: 50px 0 50px 134px;
    font-size: 36px;
    letter-spacing: 8px;
    text-transform: lowercase;
    color: $site-black;
  }

  .health-content-wrapper {
    margin: 0 auto;
    max-width: $content-width;
    height: auto;
    display: flex;
    justify-content: space-around;
    

    .paragraph-wrapper {
      margin: 10px 10px;
    
      p {
        font-family: FiraSansLight;
        line-height: 1.3;
        font-size: 14px;
      }

    }
    .health-image {

      
      img {
        width: 600px;
        height: 480px;
     
        
   
      }
    }
  }
}

//Media Queries

@media screen and (max-width: 875px) {
 .health {

   h2 {
    text-align: center;
    margin: 50px auto;
    width: 200px;
    display: none;
   }
   .health-content-wrapper {
     flex-direction: column-reverse;
    //  background-color: rgb(6, 29, 233);
     height: auto;
 

     .paragraph-wrapper {
      max-width: 80%;
      margin: 20px auto;
 

      p {
        line-height: 1.6;
        width: 85%;
      }
     }

     .health-image {
      margin: 0 auto;
      width: 97%;
      height: auto;
      // background-color: rgb(25, 25, 75);
      img {
        width: 100%;
        height: auto;
       
      }
     }
   }
 }
}

