.health {
  background-color: pink;
  min-height: 100%;
  position: relative;
  .about-cbd {
    max-width: 1100px;
    height: auto;
    background-color: mediumorchid;
    margin: 0 auto;
    padding: 60px 0px 60px 8px;
    position: relative;
    img {
      height: 200x;
      width: 50%;
    }
    
  }
  
  .about-cbd-content {
    background-color: maroon;

    .about-cbd-image {
      background-color: mediumslateblue;
      max-width: 800px;
      margin: 0 auto;
      position: relative;
      
      img {
        // background-color: mediumvioletred;
        height: 350x;
        width: 80%;
        margin-top: -550px;
        margin-left: 130px;
      }
    }
  
    .about-text-wrapper {
      background-color: aqua;
      max-width: $medium-width;
      margin: 0 auto;
      padding-left: 20px;
      p {
        width: 50%;
        background-color: mediumturquoise;
        font-family: FiraSansLight;
        line-height: 1.3;
        font-size: 14px;
      }
    }
  }


  h2 {
    font-family: SmithenScript;
    margin: 0 auto;
    font-size: 72px;
    width: auto;
    padding: 40px 0px;
    color: $site-green;
    background-color: peachpuff;
    text-align: center;
    font-weight: lighter;

    .page-break-line {
      max-width: 1000px;
      margin: -10px auto;
      background-color: mediumturquoise;
      padding-left: 40px;
      
      img {
        width: 100%;
        height: auto;
      }
    }

    .page-break-image {
      max-width: 1350px;
      margin: 0 auto;
 
      img {
        width: 100%;
        height: auto;
        margin: -290px auto 0 auto; 
      }
    }
  }

 
 
}

//Media Queries

@media screen and (max-width: 875px) {
 .health {

   h2 {
    text-align: center;
    margin: 50px auto;
    width: 200px;
    display: none;
   }
   .health-content-wrapper {
     flex-direction: column-reverse;
    //  background-color: rgb(6, 29, 233);
     height: auto;
 

     .paragraph-wrapper {
      max-width: 80%;
      margin: 20px auto;
 

      p {
        line-height: 1.6;
        width: 85%;
      }
     }

     .health-image {
      margin: 0 auto;
      width: 97%;
      height: auto;
      // background-color: rgb(25, 25, 75);
      img {
        width: 100%;
        height: auto;
       
      }
     }
   }
 }
}

