.health {
  height: 100%;
  background-color: rgb(245, 239, 240);

  h2 {
    font-family: FiraSansExtraLight;
    padding: 55px 140px;
    font-size: 36px;
    letter-spacing: 8px;
    text-transform: lowercase;
    color: black;
  }

  h3 {
 
    margin-left: 140px;
    font-family: FiraSansExtraLight;
    font-size: 16px;
  }

  p {
    font-size: 14px;
      margin-top: 50px;
      max-width: 350px;
      margin-left: 140px;
      padding-bottom: 30px;
  }

}
