.home {
  height: 100%;
  background-color: rgba(0, 0, 0, 0.02);

  .home-wrapper {

    .square {
      padding: 110px 20px;
      // background-color: mediumturquoise;

      .home-header {
        text-align: center;
        // background-color: #e20f71b0;
        align-items: center;
        width: 100%;
    

        h1 {
          white-space: nowrap;
          font-family: FiraSansLight;
          font-size: 66px;
          line-height: 110px;
          width: 100%;
          color: rgb(29, 28, 28);
          font-weight: 600;

          span {
            font-family: SmithenScript;
            font-size: 108px;
            letter-spacing: 2px;
            color: $site-yellow;
          }
        }

        button {
          @include site-button();
          @include site-button-sweep-anim($sweepColor: $site-red);
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .home {
    .home-wrapper {
      .square {
        padding: 85px 10px;
        .home-header {
         
          h1 {
            font-size: 50px;
            line-height: 60px;
            white-space: normal;

            span {
              font-family: SmithenScript;
              font-size: 85px;
            }
          }
          button {
            margin-top: 50px;
          }
        }
      }
    }
  }
}
