.home {
    height: 100%;
    background-image: url(../../images/home-background.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    .home-wrapper {
        display: flex;
        padding-top: 160px;

        .square {
            height: 200px;
            max-width: 400px;
            background-color: black;
            opacity: 90%;
            margin: 0 auto;
            padding: 10px;
            
    
            h1 {
                color: #fff567;
                font-family: FiraSansExtraLight;
                font-size: 36px;
                letter-spacing: 2px;
            }
        }
    
        .home-image {
            position: absolute;
            height: 217px;
            width: 217px;
            border-radius: 50%;
            margin-top: 100px;
            margin-left: 680px;
            background-image: url(../../images/home-oil.jpg);
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
    
       
         
        }
    }
}