.home {
  height: 100%;
  background-image: linear-gradient(rgba(2, 0, 0, 0.05), rgba(0, 0, 0, 0.14)),
    url(../images/home-background.jpeg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  .home-wrapper {
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;

    .square {
      text-align: left;
      height: 520px;
      max-width: $max-width;
      padding: 20px;
      // background-color: mediumturquoise;

      .home-header {
        text-align: center;
        // background-color: #e20f71b0;
        align-items: center;
        width: 100%;
        padding: 40px;

        h1 {
          white-space: nowrap;
          font-family: SmithenScript;
          font-size: 76px;
          letter-spacing: 8px;
          line-height: 110px;
          width: 100%;
          color: rgb(29, 28, 28);
          text-shadow: -2px 2px 8px rgba(197, 187, 45, 0.705);
          font-weight: 600;
        }
        button {
          color: $site-white;
          width: 150px;
          height: 40px;
          font-family: FiraSansLight;
          text-transform: uppercase;
          transition: all 0.3s;
          position: relative;
          overflow: hidden;
          z-index: 1;
          border: none;
          margin-top: 20px;

          &:after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: $site-red;
            border-radius: 5px;
            z-index: -2;
          }
          &:before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 0%;
            height: 100%;
            background-color: lighten($site-red, 15%);
            transition: all 0.3s;
            border-radius: 5px;
            z-index: -1;
          }
          &:hover {
            cursor: pointer;
            color: $site-white;
  
            &:before {
              width: 100%;
            }
          }
        }
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .home {
    .home-wrapper {

      .square {

        .home-header {
          h1 {
            font-size: 50px;
            line-height: 62px;
            white-space: normal;
          }
        }
      
      }
    }
  }
}
