.pets {
  height: 100%;
  background-image: url(../images/pets-section-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  .pets-bubble-container {
    max-width: 775px;
    // margin: 0 20px 0 470px;
    margin: 0 auto 0 350px;
    padding-right: 60px;
     
    // background-color: teal;

    .pets-bubble {
      margin: 0 auto;
      background-color: rgba(255, 255, 255, 0.87);
      border: 1px solid $site-black;
      width: 100%;
      min-height: 370px;
      border-radius: 0% 50%;
      padding: 75px;

      h2 {
        margin-top: 30px;
        color: $site-pink;
        font-size: 52px;
        letter-spacing: 1px;
        line-height: 0.7;
        font-family: SmithenScript;
        text-align: center;
      }

      p {
        font-family: FiraSansLight;
        text-align: center;
        max-width: 65%;
        margin: 0 auto;
        padding-bottom: 20px;
      }

      .shop-pets {
        
        color: $site-white;
        background-color: $site-pink;
        border: none;
        height: 45px;
        width: 150px;
        text-transform: uppercase;
        padding: 5px;
        font-family: FiraSansCondensedMed;
        border-radius: 8px;
        font-size: 18px;
        letter-spacing: 0.8px;
        display: block;
        margin: 0 auto;
        transition: .2s ease-in, .2s ease-out;

        &:hover {
          cursor: pointer;
          background-image: linear-gradient(90deg, #00C0FF 0%, #FFCF00 49%, #FC4F4F 80%, #00C0FF 100%);
          animation: slidebg 5s linear infinite;
          box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
        }

        @keyframes slidebg {
          to {
            background-position:20vw;
          }
        }
        
        .follow{
          margin-top: 40px;
        }
        
        .follow a{
          color: black;
          padding: 8px 16px;
          text-decoration: none;
        }
      }
    }
  }
}

@media screen and (max-width: 900px) {
  .pets {
    background-position: 25% 75%;

    .pets-bubble-container {
      margin-left: 245px;
    }
  }
}

@media screen and (max-width: 700px) {
  .pets {
    padding: 25px 10px;

    .pets-bubble-container {
      margin: 0 auto;
      max-width: 540px;
      padding-right: 0px;

      .pets-bubble {
        margin: 0 auto;
        border-radius: 0%;
        width: 100%;
        padding: 15px 5px 25px 5px;
        min-height: 200px;

        p {
          max-width: 90%;
        }
      }
    }
  }
}
