.pets {
  height: 100%;
  background-image: url(../images/pets-section-background.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;

  .pets-svg {
    margin: 0 auto;
    background-color: $site-white;
    border: 1px solid $site-black;
    max-width: 500px;
    height: 350px;
    border-radius: 0% 50%;
    padding: 75px;
    
    .pets-text-wrapper {
        // background-color: purple;
        width: 330px;
        margin: 30px auto;
        text-align: center;

        h2 {
            color: $site-pink;
            font-size: 30px;
            font-family: FiraSansCondensedBoldItalic;
            
          }
      
          p {
            font-family: FiraSansLight;
            width: 300px;
          }
      
          .shop-pets {
            color: $site-white;
            background-color: $site-pink;
            border: none;
            height: 30px;
            width: 120px;
            text-transform: uppercase;
            padding: 5px;
            font-family: FiraSansRegular;
            border-radius: 5px;

            &:hover {
              cursor: pointer;
            }
          }
    }

  }
}
