.pets {
    height: 100%;
    background-image: url(../../images/pets-section-background.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;

    .oval {
        position: absolute;
        right: 260px;
    }

    .pets-text-wrapper {
        position: absolute;
        right: 420px;
        top: 165px;
        // background-color: pink;

        h2 {
            color: $site-pink;
            font-size: 30px;
            font-family: FiraSansCondensedBoldItalic;
        }
    
        p {
            font-family: FiraSansLight;
            width: 300px;
        }
    
        .shop-pets {
            color: $site-white;
            background-color: $site-pink;
            border: none;
            height: 30px;
            width: 120px;
            text-transform: uppercase;
            padding: 5px;
            margin-left: 75px;
            font-family: FiraSansRegular;
         
            &:hover {
                cursor: pointer;
            }
        }
    }

    
}