.products {
  min-height: 100%;
  // background-color: mediumpurple;
  padding-bottom: 55px;

  .products-container {
    // background-color: mediumturquoise;
    max-width: $medium-width;
    margin: 0 auto;
    height: 375px;
    border-bottom: 4px solid $site-red;
    display: flex;
    align-items: center;
    justify-content: space-between;
    position: relative;

    h3 {
      font-family: SmithenScript;
      color: $site-green;
      font-size: 36px;
      margin-top: 155px;
      letter-spacing: 1px;
      white-space: nowrap;
    }

    .product-images-wrapper {
      width: 780px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      // background-color: mediumseagreen;
  

      .product-container {
        width: 230px;
        height: 190px;
        // background-color: mediumpurple;
        display: flex;
        flex-direction: column;

        .product-img {
          @include product-img();

          button {
            position: absolute;
            bottom: 0;
            width: 100%;
            border: none;
            height: 25px;
            font-family: FiraSansRegular;
            text-transform: uppercase;
            background-color: $site-pink;
            opacity: 65%;
            color: white;
            transition: .2s ease-in, .2s ease-out;
          

            &:hover {
              cursor: pointer;
              opacity: 100%;
              @include linear-gradient-animation(8s);
            }
          }
          
        }

        .gummy2 {
          @include product-img(url(../images/cbd-gummies-2.jpg));
        }

        .gummy3 {
          @include product-img(url(../images/cbd-gummies-3.jpg));
        }

        .oil1 {
          @include product-img(url(../images/cbd-oil-1.jpg));
        }

        .oil2 {
          @include product-img(url(../images/cbd-oil-2.jpg));
        }

        .oil3 {
          @include product-img(url(../images/cbd-oil-3.jpg));
        }

        .topical1 {
          @include product-img(url(../images/cbd-topical-1.jpg));
        }

        .topical2 {
          @include product-img(url(../images/cbd-topical-2.jpg));
        }

        .topical3 {
          @include product-img(url(../images/cbd-topical-3.jpg));
        }

        .description-content {
          text-align: center;
          position: absolute;
          bottom: 15px;
          width: 230px;
          height: 60px;
          
          h4 {
            font-family: FiraSansCondensedItalic;
            font-size: 18px;
            color: $site-green;
          
          }
          
          p {
            font-family: FiraSansCondensedItalic;
            text-transform: uppercase;
            font-size: 16px;
            margin-top: -8px;
            color: $product-price;
          }
        }
      }
    }
  }

  .topical-container {
    border-bottom: none;
  }
}

@media screen and (max-width: 892px) {
  .products {
    padding: 50px 20px 50px 20px;

    h3 {
      font-size: 44px;
      text-align: center;
      width: auto;
      margin: 65px auto;
      padding-top: 20px;
      white-space: nowrap;
    }

    .products-container {
      background: none;
      border: none;
      height: 100%;
      max-width: 480px;
      flex-direction: column;
      // background-color: mediumorchid;
      margin: 0px auto;

      h3 {
        margin-top: 25px;
        font-size: 52px;
      }

      .product-images-wrapper {
        flex-direction: column;
        // background-color: rgb(26, 80, 78);
        max-width: 100%;
        margin: 0 auto;

        .product-container {
          width: 100%;
          height: 380px;
          margin: 10px auto;
          // background-color: midnightblue;

          .product-img {
            height: 100%;

            button {
              height: 50px;
              font-size: 18px;
              margin: 0 auto;
            }

          }

          .description-content {
            position: relative;
            // background-color: yellow;
            width: auto;
            margin-top: 40px;
        

            h4 {
              font-size: 20px;
            }

            p {
              margin-top: 15px;
              font-size: 18px;
            }
          }
        
        }
      }
      
    }
  }
}
