.shipping-offer {
    height: 25px;
    background-color: $site-pink;


    p {
        color: $site-white;
        text-transform: uppercase;
        text-align: center;
        font-family: FiraSansLight;
        padding-top: 2px;
    }
}