.shipping-offer {
    height: 25px;
    background-color: #e20f71;


    p {
        color: white;
        text-transform: uppercase;
        text-align: center;
        font-family: FiraSansLight;
        padding-top: 2px;
    }
}