nav {
  background-color: #FFF567;

  .nav-wrapper {
    display: flex;
    align-items: center;
    max-width: 980px;
    margin: 0 auto;
    justify-content: space-between;

    .logo {
     
        img {
            width: 100px;
            height: 80px;
        }
      }
    
      .links {
          margin-left: 250px;

          a {
              text-decoration: none;
              text-transform: lowercase;
              font-family: FiraSansLight;
              color: #000;
              margin-right: 50px;
          }
      }

      .nav-icons {
          .login {
              margin-right: 25px;
          }
      }
  }

}
