nav {
  border-bottom: 1px solid $site-black;
  background-color: $site-white;
  z-index: 99;
  position: relative;
  max-width: $medium-width;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;

  .menu-button-container {
    display: none;
    height: 100%;
    width: 10px;
    cursor: pointer;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  label {
    display: none;
    position: absolute;
    right: 20px;
    font-size: 25px;
    line-height: 50px;
    color: $site-black;
    font-size: 25px;
    top: 0px;
  }

  #toggle {
    display: none;
    position: absolute;
    right: 0;
  }

  .links {
    a {
      width: 100px;
      text-decoration: none;
      text-transform: lowercase;
      font-family: FiraSansLight;
      font-size: 14px;
      color: $transparent-black;
      padding: 5px 15px;
      transition: 0.2s ease-in, 0.2s ease-out;

      &:hover {
        cursor: pointer;
        color: $site-black;
        transition: 0.2s ease-in, 0.2s ease-out;
        // text-decoration: underline;
        // text-underline-offset: 6px;
      }
    }

    span {
      color: $site-pink;
    }
  }
  .icons {
    margin-right: 10px;

    i {
      color: $site-black;
      padding: 5px;
      transition: 0.2s ease-in, 0.2s ease-out;

      &:hover {
        cursor: pointer;
        @include rainbow-animation(300s);
        transform: scale(1.2);
        background-size: 100%;
        background-repeat: repeat;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        -moz-background-clip: text;
        -moz-text-fill-color: transparent;
        transition: 0.2s ease-in, 0.2s ease-out;
      }
    }
  }
}

//media query for responsive navigation
@media screen and (max-width: 990px) {
  nav {
    .nav-wrapper {
      margin: 0 10px 0 10px;
    }
  }
}

@media screen and (max-width: 670px) {
  nav {
    height: 50px;

    label {
      display: block;
      cursor: pointer;

    }

    #toggle:checked + .links {
      display: block;
    }

    #toggle ~ .links a {
      height: 0;
      margin: 0;
      padding: 0;
      border: 0;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    #toggle:checked ~ .links a {
      border: 1px solid #333;
      height: 5.5em;
      padding: 1.8em;
      transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
    }

    .links {
      position: absolute;
      top: 0;
      margin-top: 50px;
      left: 0;
      flex-direction: column;
      width: 100%;
      justify-content: center;
      align-items: center;
      box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px,
        rgba(0, 0, 0, 0.22) 0px 10px 10px;

      a {
        font-family: FiraSansLight;
        display: flex;
        justify-content: center;
        margin: 0;
        padding: 0.5em 0;
        width: 100%;
        color: $transparent-white;
        background-color: #222;

        &:not(:last-child) {
          border-bottom: 1px solid #444;
        }

        &:hover {
          color: $site-white;
          transition: 0.2s ease-in, 0.2s ease-out;
        }
      }

      span {
        display: none;
      }
    }

    .icons {
      left: 15px;
      position: absolute;

      i {
        padding: 3px;
        font-size: 12px;
      }
    }
  }
}
