nav {
  background-color: #fff567;

  .nav-wrapper {
    display: flex;
    align-items: center;
    max-width: 75%;
    margin: 0 auto;
    justify-content: space-between;

    .logo {
      width: 100px;
      height: 50px;

      img {
        width: 100%;
      }
    }

    .links {
      margin-left: 250px;

      a {
        text-decoration: none;
        text-transform: lowercase;
        font-family: FiraSansLight;
        color: #000;
        margin-right: 50px;
      }

      a:hover {
        cursor: pointer;
        text-decoration: underline;
        text-underline-offset: 5px;
        text-decoration-color: #e20f71;
      }
    }

    .nav-icons {
      .login {
        margin-right: 25px;
      }

      i:hover {
        cursor: pointer;
        color: #e20f71;
      }
    }
  }
}
